In [2]:
import os
import sys

# add parent directory to path
library_path = os.path.abspath('..')
if library_path not in sys.path:
    sys.path.append(library_path)

from cge_comrare_pipeline.SampleQC import SampleQC

In [3]:
input_dir = '/home/luis/data/rawdata-sexupdated/inputData'
input_name = 'luxgiant_data_combined_12098-updated-sex'
output_dir = '/home/luis/data/rawdata-sexupdated/outputData'
output_name = 'luxgiant_res'
dependables = '/home/luis/data/rawdata-sexupdated/dependables'

In [18]:
import pandas as pd
df_bim = pd.read_csv(
    os.path.join(input_dir, input_name + '.bim'),
    sep=r'\s+',
    engine='python',
    header=None,
)
df_bim

df_linkage = pd.concat(
    [df_bim[1] ,df_bim[0].astype(str) + ':' + df_bim[3].astype(str)+ ':' + df_bim[4].astype(str) + ':' + df_bim[5].astype(str)],
    axis=1,
)
df_linkage.head()

                 1             0
0      1:49554-G-A   1:49554:G:A
1     JHU_1.115745  1:115746:T:C
2     JHU_1.534237  1:598858:C:A
3  chr1:629488:T:C  1:629488:T:C
4        rs9701055  1:630053:T:C

In [19]:
df_bim[1] = df_bim[0].astype(str) + ':' + df_bim[3].astype(str)+ ':' + df_bim[4].astype(str) + ':' + df_bim[5].astype(str)
df_bim

          0                1  2         3  4  5
0         1      1:49554:G:A  0     49554  G  A
1         1     1:115746:T:C  0    115746  T  C
2         1     1:598858:C:A  0    598858  C  A
3         1     1:629488:T:C  0    629488  T  C
4         1     1:630053:T:C  0    630053  T  C
...      ..              ... ..       ... .. ..
1842631  24  24:26671311:A:C  0  26671311  A  C
1842632  24  24:26671347:T:A  0  26671347  T  A
1842633  24  24:26671432:A:G  0  26671432  A  G
1842634  24  24:26671489:G:A  0  26671489  G  A
1842635  24  24:56747774:C:A  0  56747774  C  A

[1842636 rows x 6 columns]

In [20]:
df_bim.to_csv(
    os.path.join(input_dir, input_name + '.bim'),
    sep='\t',
    header=False,
    index=False,
)

In [21]:
df_linkage.to_csv(
    os.path.join(input_dir, input_name + '.linkage'),
    sep='\t',
    header=False,
    index=False,
)

In [8]:
#sample.execute_sex_check(sex_check=None)

In [9]:
#sample.execute_heterozygosity_rate(maf=0.01)

In [10]:
#sample.execute_dup_relatedness(kingship=0.354)

In [11]:
df_call = sample.get_fail_samples(call_rate_thres=0.2, std_deviation_het=3, maf_het=0.01)
df_call.head()

NameError: name 'sample' is not defined